# Python Files
__pycache__
.pylintrc
.pytest_cache
*.pyc

# IDE
.vscode/

# Dev Files
example/
logs/err.log
venv/
*.pem
nohup*
*.env

# Asset Files
assets/genshin/recipe
assets/genshin/generated

# Database
alembic.ini
alembic/
data/scripts/
local_db/